
div.cnt01 header .btnGroup{
    height: 100%;
    overflow: visible;
    
}
div.cnt01 header .btnGroup button{
    width: calc(100% / 3 - 10px);
    margin-top: 20px;
}
div.cntWrap .content header h4{
    margin-top: 20px;
    font-size: 15px;
}
div.cnt01 section{
    grid-row-gap: 20px;
}
div.cnt01 section article{
    min-width: 150px;
}
div.cnt01 section article .texts{
    margin-top: 20px;
    font-size: 15px;
}
div.cnt01 section article .texts h5{
    display: none;
}

div.cntWrap .content section article .texts h4{
    font-size: 20px;
}
div.cnt01 section article .btn{
    display: none;
}
div.cntWrap .content section article a{
    height: 70%;
}
div.cnt01 section article .bg.i2{
    display: none;
}
div.cntWrap .content section article .texts h4{
    font-size: 15px;
}