div.mnWrap{
    height: 100%;
}
div.mnWrap main{
    height: 100%;
}
div.mnWrap main section .image{
    height: 350px;
}
div.mnWrap main section .image h1{
    font-size: 50px;
}
div.cnt02 section article .texts{
    display: none;
}
div.cntWrap .content{
    padding-top: 40px;
}
div.cntWrap .content header h2{
    font-size: 20px;
    color: #000;
    text-transform: capitalize;
    text-shadow: none;
}
div.content button{
    margin-top: 20px;
}
div.cntWrap .cnt01 section{
    margin-top: 20px;
}
div.cntWrap .cnt01 section article{
    height: 100%;
}
div.cntWrap .cnt01 section article .image{
    height: 280px;
    margin-top: 0;
}
div.cntW02{
    background-image: none;
}
div.cnt02 section{
    margin-top: 20px;
    height: 280px;
    grid-row-gap: 0;
}
div.cnt02 section article{
    background-color: transparent;
}

div.cnt02 section article .image{
    height: 280px;
}


div.cntWrap .content section article .texts h4{
    font-size: 15px;
    line-height: 20px;
}
div.cnt03 section{
    margin-top: 20px;
}
div.cnt03 section article{
    height: 400px;
}
div.cnt03 section article .bg{
    display: none;
}

div.ftrWrap{
    margin-top: 40px;
}