/*글로벌 헤더*/
div.hdrWrap header{
    height: 80px;
}

div.hdrWrap header h1{
    font-size: 25px;
}

div.hdrWrap header ul li:last-of-type{
    font-size: 25px;
}

div.slide ul li{
    font-size: 18px;
    line-height: 60px;
    font-weight: 400;
}
div.slide ul li:last-of-type{
    font-size: 30px;
    top: 1%;
}

div.bar{
    display: none;
}

div.mnWrap{
    height: 300px;
}


/*글로벌 배너*/
div.bnrWrap .banner h3{
    font-size: 20px;
}

div.bnrWrap .banner h4{
    font-size: 15px;
    line-height: 20px;
    
}
div.bnrWrap .banner p{
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 20px;
}
div.bnrWrap .banner .inputs input{
    line-height: 30px;
    font-size: 12px;
}
button{
    line-height: 30px;
    font-size: 12px;
}

/*글로벌 푸터*/
div.ftrWrap footer .top b2{
    display: none;
}

div.ftrWrap footer .top b1{
    font-size: 25px;
}
div.ftrWrap footer .top ul{
    font-size: 30px;
}
div.ftrWrap footer .btm p{
    display: none;
}
div.ftrWrap footer .btm ul{
    width: 100%;
    justify-content: space-around;
}
div.ftrWrap footer .btm ul li{
    width: calc(100%/3);
    font-size: 13px;
    text-align: center;
    padding: 0;
}