@import url('all.css');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Sans+KR:wght@100;300;500;700;900&family=Noto+Serif+KR:wght@300;500;700&display=swap');

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 100;
    src: url(../fonts/NotoSansKR-Thin.otf);
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 300;
    src: url(../fonts/NotoSansKR-Light.otf);
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 500;
    src: url(../fonts/NotoSansKR-Medium.otf);
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    src: url(../fonts/NotoSansKR-Bold.otf);
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    src: url(../fonts/NotoSansKR-Black.otf);
}

@font-face {
    font-family: 'Noto Serif KR';
    font-weight: 300;
    src: url(../fonts/NotoSerifKR-Light.otf);
}

@font-face {
    font-family: 'Noto Serif KR';
    font-weight: 500;
    src: url(../fonts/NotoSerifKR-Medium.otf);
}

@font-face {
    font-family: 'Noto Serif KR';
    font-weight: 700;
    src: url(../fonts/NotoSerifKR-Bold.otf);
}

@font-face {
    font-family: 'Kaushan Script';
    font-weight: 700;
    src: url(../fonts/KAUSHANSCRIPT-REGULAR.TTF);
}

body{
    font-family: "Noto Sans KR";
    font-weight: 300;
}


/*글로벌헤더*/
div.hdrWrap{
    width: 100%;
    left: 0;
    top: 0;
    height: 160px;
    position: absolute;
    z-index: 999;
}
div.hdrWrap header{
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 160px;
    align-items: center;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}
div.hdrWrap header h1{
    width: 300px;
    font-size: 36px;
    line-height: 80px;
    font-family: "Noto Serif KR";
}
div.hdrWrap header ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
div.hdrWrap header ul li{
    line-height: 80px;
    font-size: 22px;
    font-weight: 700;
}
div.hdrWrap header ul li:last-of-type{
    display: none;
}

div.bar{
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    font-weight: 700;
}

@media(min-width:780px){
    #bars, div.slide{
        display: none;
    }
}

/*글로벌메인*/
div.mnWrap{
    padding-top: 160px;
    height: 720px;
    background-color: transparent;
}
div.bar{
    width: 100%;
    margin-top: -80px;
}
div.bar header{
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 80px;
    font-size: 24px;
    font-family: "Noto Sans KR";
    font-weight: 300;
}


/*글로벌컨텐츠*/
div.cntWrap .content{
    width: 90%;
    max-width:1080px;
    margin: 0 auto;
    padding: 120px 0;
}
div.cntWrap .content header{
    text-align: center;
}

div.cntWrap .content header h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    font-family: "Kaushan Script";
    font-style: italic;
    text-transform: uppercase;
}
div.cntWrap .content header h3{
    font-size: 30px;
    line-height: 40px;
    font-family: "Noto Serif KR";
    
}
div.cntWrap .content header h4{
    font-size: 22px;
    font-family: "Noto Sans KR";
    line-height: 40px;
    font-weight: 300;
}
div.cntWrap .content header p{
    font-size: 20px;
    font-family: "Noto Sans KR";
    font-weight: 300;
    line-height: 20px;
    margin-top: 40px;
}

div.cntWrap .content section article{
    position: relative;
    
}
div.cntWrap .content section article .texts{}

div.cntWrap .content section article .texts h2{
    font-size: 36px;
    font-family: "Kaushan Script";
    font-style: italic;
    line-height: 40px;
    font-weight: 700;
}
div.cntWrap .content section article .texts h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}
div.cntWrap .content section article .texts p{
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    
}
div.cntWrap .content section article a{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 999;
}

div.cntWrap .content section article .bg_top{
    width: 0%;
    height: 0%;
    background-color: #ffff00;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;
    transition-delay: 0.2s;
}
div.cntWrap .content section article .bg_btm{
    width: 0%;
    height: 0%;
    background-color: #003399;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all 0.5s;
    transition-delay: 0.2s;
}

/*액션*/
div.cntWrap .content section article a:hover~.bg_top{width: 80%;height: 80%;}
div.cntWrap .content section article a:hover~.bg_btm{width: 80%;height: 80%;}

/*글로벌 베너*/
div.bnrWrap{
    padding: 120px 0;
}
div.bnrWrap .banner{
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}
div.bnrWrap .banner h3{
    font-size: 30px;
    line-height: 40px;
    font-family: "Noto Serif KR";
}
div.bnrWrap .banner h4{
    font-size: 22px;
    font-family: "Noto Sans KR";
    line-height: 40px;
    font-weight: 300;
}
div.bnrWrap .banner p{
    font-size: 20px;
    font-family: "Noto Sans KR";
    font-weight: 300;
    line-height: 20px;
    margin-top: 40px;
}
div.bnrWrap .banner .inputs{
    width: calc(100% / 12 * 10 );
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
div.bnrWrap .banner .inputs input{
    border: 0;
    line-height: 40px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 5px;
    width: calc(100% / 12 * 2) ;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
div.bnrWrap .banner .inputs input:hover{
    background-color: rgba(255,255,255,1);
}

/*글로벌푸터*/
div.ftrWrap{
    background-color: #003399;
    color: #fff;
}
div.ftrWrap footer{
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 40px 0;
}
div.ftrWrap footer .top{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid magenta;
    padding-bottom: 20px;
}

div.ftrWrap footer .top b1{
    font-size: 36px;
    line-height: 40px;
    font-family: "Noto Sans KR";
    width: calc(100% / 3);
}
div.ftrWrap footer .top b2{
    font-size: 22px;
    line-height: 40px;
    font-family: "Noto Serif KR";
    width: calc(100% / 3);
    text-align: center;
}
div.ftrWrap footer .top ul{
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
    width: calc(100% / 3);
    line-height: 40px;
}
div.ftrWrap footer .top ul li{
    margin-left: 10px;
}
div.ftrWrap footer .btm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
div.ftrWrap footer .btm ul{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
div.ftrWrap footer .btm ul li{
    border-right: 1px solid white;
    padding: 0 10px
}
div.ftrWrap footer .btm ul li:last-of-type{
    border:0;
}
div.ftr2{
    background-color: #003366;
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}