body{
    overflow-x: hidden;
}


div.mnWrap{
    width: 100%;
    overflow: hidden;
    height: 1000px;
    padding-top:0;
}
div.mnWrap main{
    position: relative;
    margin: 0 auto;
    height: 100%;
}
div.mnWrap main .mnGroup {
    width: 300vw;
    display: flex;
    height: 100%;
}
div.mnWrap main .mnGroup .mnImg{
    width: 100vw;
    height: 100%;
    background-image: url(../image/index_mn_img2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
div.mnWrap main .mnGroup .mnImg.i1{background-image: url(../image/index_mn_img1.jpg);
    animation-name: roll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
div.mnWrap main .mnGroup .mnImg.i2{background-image: url(../image/index_mn_img2.jpg);}
div.mnWrap main .mnGroup .mnImg.i3{background-image: url(../image/index_mn_img3.jpg);}



div.mnWrap main .texts{
    position: absolute;
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: -280px;
    display: flex;
    color: #fff;
    left: calc((100vw - 1080px) / 2);
}
@media (max-width:1220px){
div.mnWrap main .texts{
    left: 10%;
    }
}
div.mnWrap main .texts .num{
    width: 10%;
    text-align: center;
    margin-left: -10%;
}
div.mnWrap main .texts .num h4{
    font-size: 24px;
    line-height: 40px;
}
div.mnWrap main .texts .num .pagenation{
}
div.mnWrap main .texts .num .pagenation li{
    width: 16px; height: 16px;
    background-color: #aaa; border-radius: 10px;
    margin-top: 6px; cursor: pointer;
    margin: 8px auto 0;
}
div.mnWrap main .texts .num .pagenation li.clicked{
   background-color: #fff;
}
div.mnWrap main .texts .txtGroup{
    width: calc(100% / 12 * 4);
}
div.mnWrap main .texts .txtGroup h4{
    font-size: 24px;
    line-height: 40px;
}
div.mnWrap main .texts .txtGroup p{
    height: 80px;
    overflow: hidden;
    line-height: 20px;
}

/*keyframe rolling*/
@keyframes roll{
    10%{
        background-image: url(../image/index_mn_img1.jpg);
    }
    40%{
        background-image: url(../image/index_mn_img2.jpg);
    }
    70%{
        background-image: url(../image/index_mn_img3.jpg);
    }
    100%{
        background-image: url(../image/index_mn_img1.jpg);
    }
}

/*컨텐츠1*/

div.cntWrap{
    position: relative;
}
div.cntWrap .cnt01{
    position: relative;
}
div.cntWrap .cnt01 section{
    overflow: hidden;
    margin-top: 80px;
}
div.cntWrap .cnt01 section .artGroup{
    width: 200%;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
}
div.cntWrap .cnt01 section .artGroup article{
    width: calc(100% / 3 - 20px);
    min-width: 340px;
    height: 480px;
    position: relative;
}
div.cntWrap .cnt01 section .artGroup article .imgBottle{
    display: block;
    content: '';
    width: 110px;
    height: 320px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.cnt01 .imgBottle.i1{background-image: url(../image/bottle_citron.png);}
.cnt01 .imgBottle.i2{background-image: url(../image/bottle_comback.png);}
.cnt01 .imgBottle.i3{background-image: url(../image/bottle_strawberryjuice.png);}
.cnt01 .imgBottle.i4{background-image: url(../image/bottle_elyx.png);}
.cnt01 .imgBottle.i5{background-image: url(../image/bottle_extrakt.png);}
.cnt01 .imgBottle.i6{background-image: url(../image/bottle_grapefruit.png);}
div.cntWrap .cnt01 section .artGroup article .image{
    width: 300px;
    height: 440px;
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
    transition: filter 0.7s;
    transform: rotate(20);
}
div.cntWrap .cnt01 section .artGroup article a:hover~.image{
    filter: blur(0);
}
.cnt01 .image.i1{background-image: url(../image/bg_citron.jpg);}
.cnt01 .image.i2{background-image: url(../image/bg_comeback.jpg);}
.cnt01 .image.i3{background-image: url(../image/bg_strawberryjuice.jpg);}
.cnt01 .image.i4{background-image: url(../image/bg_elyx.jpg);}
.cnt01 .image.i5{background-image: url(../image/bg_extrakt.jpg);}
.cnt01 .image.i6{background-image: url(../image/bg_grapefruit.jpg);}

div.cntWrap .cnt01 section .artGroup article .texts{
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 3;
}
div.cntWrap .cnt01 section .artGroup article .texts h2{
    font-size: 50px;
    line-height: 50px;
    font-family: "Kaushan Script";
    font-style: italic;
    text-align: right;
    color: #fff;
}
div.cntWrap .cnt01 ul{
    width: 120%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 55%;
    left: -10%;
}
div.cntWrap .cnt01 ul li{
    background-image: url(../image/btn_bg.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 50px;height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}


/*베너01*/
div.bnr01{
    background-image: url(../image/index_banner1_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div.bnr01 .banner{
    font-weight: 700;
    color: #fff;
}
div.bnr01 .banner p{
    width: 80%;
    height: 80px;
    overflow: hidden;
    line-height: 25px;
    margin: 0 auto;
    margin-top: 40px;
}
div.bnr01 .banner .inputs input{
    width: calc(100% / 12 * 4);
    min-width: 180px;
}

/*컨텐츠2*/
div.cnt02 section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 680px;
    overflow: hidden;
}
div.cnt02 section article{
    width: calc(50% - 20px);
    min-width: 300px;
}
div.cnt02 section article .image{
    height: 440px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div.cnt02 section article .image.i1{background-image: url(../image/bg_funnel.jpg);}
div.cnt02 section article .image.i2{background-image: url(../image/bg_screw.jpg);}
div.cnt02 section article .image.i3{background-image: url(../image/bg_lime.jpg);}
div.cnt02 section article .image.i4{background-image: url(../image/bg_rasberry.jpg);}
div.cnt02 section article .texts{
    height: 240px;
    padding: 40px 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
div.cnt02 section article .texts.i1{background-image: url(../image/bg_funnel_textbg.jpg);}
div.cnt02 section article .texts.i2{background-image: url(../image/bg_screw_textsbg.jpg);}
div.cnt02 section article .texts.i3{background-image: url(../image/bg_funnel_textbg.jpg);}
div.cnt02 section article .texts.i4{background-image: url(../image/bg_screw_textsbg.jpg);}

div.cnt02 section article .texts h4{}
div.cnt02 section article .texts .btn{
    line-height: 80px;
    text-align: left;
}

@media(max-width: 950px){
    div.cnt02 section article .texts .btn button:last-of-type{
    display: none;
    }
}
div.cnt02 section article .texts .btn button{
    height: 30px;
    font-size: 14px;
    width: calc(100% / 3 - 20px);
    min-width: 120px;
    margin-top: 20px;
    background-color: #999;
    background-image: none;
    color: #fff;
}
div.cntWrap .cnt02 section article .texts p{
    line-height: 40px;
}
div.cnt02 .btn{
    text-align: center;
}


div.bnr02{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../image/index_banner2_bg.jpg);
}
div.bnr02 .banner{
    font-weight: 700;
    color: #fff;
}
div.bnr02 .banner h3{}
div.bnr02 .banner h4{}
div.bnr02 .banner .inputs input:nth-of-type(2){
    width: calc(100% / 12 * 7);
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    transition: all 0.5s;
    cursor: text;
}
div.bnr02 .banner .inputs input:focus{
    background-color: #fff;
}


/*컨텐츠03*/
div.cntWrap{
    overflow: hidden;
}

div.cntWrap .cnt03{
    display: flex;
    justify-content: space-between;
}
/*왼쪽타이틀*/
div.cntWrap .content.cnt03 header{
    width: calc(100% / 12 * 3);
    min-width: 220px;
    text-align: left;
}
div.cnt03 header p{
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}
div.cnt03 header button{
    background-image: url(../image/btn_bg.jpg);
    border-radius: 5px;
    transition-property: background-image,color;
    transition-duration: 0.5s;
}
div.cnt03 header button:hover{
    background-image: url(../image/btn_bg2.jpg);
    color: #fff;
}

/*오른쪽리스트*/
div.cnt03 section{
    width: calc(100% / 12 * 8);
}
div.cnt03 section .sectWrap .artGroup{
    width: calc((250px + 10px) * 7);
    display: flex;
    justify-content: space-between;
}
div.cnt03 section .sectWrap .artGroup article .image{
    width: 250px;
    height: 240px;
    background-color: #fff;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}

div.cnt03 section .sectWrap article .i1{background-image: url(../image/bottle_citron.png);}
div.cnt03 section .sectWrap article .i2{background-image: url(../image/bottle_comback.png);}
div.cnt03 section .sectWrap article .i3{background-image: url(../image/bottle_strawberryjuice.png);}
div.cnt03 section .sectWrap article .i4{background-image: url(../image/bottle_elyx.png);}
div.cnt03 section .sectWrap article .i5{background-image: url(../image/bottle_extrakt.png);}
div.cnt03 section .sectWrap article .i6{background-image: url(../image/bottle_grapefruits.png);}
div.cnt03 section .sectWrap article .i7{background-image: url(../image/bottle_watermelon.png);}