div.mnWrap{
    background-image: url(../image/sub1_mn.jpg);
}
div.bar{
    background-color: rgba(204,102,102,0.7);
}
div.bar header h2{
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

div.cnt01{}
div.cnt01 header{}
div.cnt01 header .btnGroup{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
div.cnt01 header .btnGroup button{
    width: calc(100% / 6 - 20px);
    min-width: 110px;
}
div.cnt01 header h4{
    text-transform: uppercase;
    color: #f66;
    font-weight: 700;
    margin-top: 40px;
}
div.cnt01 section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    grid-row-gap: 40px;
}
div.cnt01 section article{
    width: calc(100% / 3 - 20px);
    min-width: 230px;
    height: 400px;
    position: relative;
}
div.cnt01 section article a{}
div.cnt01 section article .image{
    width: 100%;
    height: 280px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
div.cnt01 section article .image.i1{background-image: url(../image/bottle_vanilla.png);}
div.cnt01 section article .image.i2{background-image: url(../image/bottle_extrakt.png);}
div.cnt01 section article .image.i3{background-image: url(../image/bottle_acai.png);}
div.cnt01 section article .image.i4{background-image: url(../image/bottle_elyx.png);}
div.cnt01 section article .image.i5{background-image: url(../image/bottle_pears.png);}
div.cnt01 section article .image.i6{background-image: url(../image/bottle_cheerys.png);}
div.cnt01 section article .image.i7{background-image: url(../image/bottle_citron.png);}
div.cnt01 section article .image.i8{background-image: url(../image/bottle_lime.png);}
div.cnt01 section article .image.i9{background-image: url(../image/bottle_vodka.png);}
div.cnt01 section article .image.i10{background-image: url(../image/bottle_apeach.png);}
div.cnt01 section article .image.i11{background-image: url(../image/bottle_strawberryjuice.png);}
div.cnt01 section article .image.i12{background-image: url(../image/bottle_apple.png);}
div.cnt01 section article .bg{
    width: 100%;
    height: 100%;
    background-color: #ccc;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div.cnt01 section article .bg.i1{background-image: url(../image/bg_vanilla.jpg);}
div.cnt01 section article .bg.i2{background-image: url(../image/bg_extrakt.jpg);}
div.cnt01 section article .bg.i3{background-image: url(../image/bg_rasberry.jpg);}
div.cnt01 section article .bg.i4{background-image: url(../image/bg_elyx.jpg);}
div.cnt01 section article .bg.i5{background-image: url(../image/bg_pairs.jpg);}
div.cnt01 section article .bg.i6{background-image: url(../image/bg_watermelon.jpg);}
div.cnt01 section article .bg.i7{background-image: url(../image/bg_citron.jpg);}
div.cnt01 section article .bg.i8{background-image: url(../image/bg_lime.jpg);}
div.cnt01 section article .bg.i9{background-image: url(../image/bg_vodka.jpg);}
div.cnt01 section article .bg.i10{background-image: url(../image/bg_comeback.jpg);}
div.cnt01 section article .bg.i11{background-image: url(../image/bg_strawberryjuice.jpg);}
div.cnt01 section article .bg.i12{background-image: url(../image/bg_screw.jpg);}
div.cnt01 section article .texts{
    text-align: center;
    line-height: 40px;
}
div.cnt01 section article .texts h5{
    font-style: italic;
    font-family: "Kaushan Script";
    font-weight: 700;
}
div.cnt01 section article .texts h6{
    font-size: 25px;
    color: #ccc;
    cursor: pointer;
}
div.cnt01 section article .texts h6 span.ch{
    color: #000;
}
div.cnt01 section article .texts h6 span.fix{
    color: #000;
}
div.cnt01 section article .btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    opacity: 0;
}
div.cnt01 section article .btn button{
    height: 90px; width: 90px; border-radius: 50%;
    font-size: 40px; line-height: 90px;
    margin: 0 10px;
}