div.mnWrap{
    background-image: url(../image/sub2_mn.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.bar{
    background-color: rgba(153,102,102,0.7);
}

div.cnt01 header{
    padding: 40px 0;
    border-bottom: 3px solid #ff6666;
}
div.cnt01 header h3{}
div.cnt01 section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    grid-row-gap: 40px;
}
div.cnt01 section article{
    height: 480px;
    width: calc(100% / 3 - 20px);
    min-width: 340px;
    position: relative;
}
div.cnt01 section article .image{
    width: 100%;
    height: 340px;
    border-radius: 50%;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    transition-property: opacity;
    transition-duration: 1.5s;
}
div.cnt01 section article a:hover~.image{
    opacity: 0;
    filter: blur(20px);
}
div.cnt01 section article a:hover~.texts{
    opacity: 0;
}
div.cnt01 section article a:hover~.bg{
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: blur(0px);
}
div.cnt01 section article a:hover~.btn{
    opacity: 1;
}

div.cnt01 section article .image.i1{background-image: url(../image/sub2_cnt01_i1.jpg);}
div.cnt01 section article .image.i2{background-image: url(../image/sub2_cnt01_i2.jpg);}
div.cnt01 section article .image.i3{background-image: url(../image/sub2_cnt01_i2.jpg);}
div.cnt01 section article .image.i4{background-image: url(../image/sub2_cnt01_i4.jpg);}
div.cnt01 section article .image.i5{background-image: url(../image/sub2_cnt01_i5.jpg);}
div.cnt01 section article .image.i6{background-image: url(../image/sub2_cnt01_i6.jpg);}
div.cnt01 section article .image.i7{background-image: url(../image/sub2_cnt01_i7.jpg);}
div.cnt01 section article .image.i8{background-image: url(../image/sub2_cnt01_i8.jpg);}
div.cnt01 section article .image.i9{background-image: url(../image/sub2_cnt01_i9.jpg);}
div.cnt01 section article .bg{
    position: absolute;
    top: 0;left: 0;
    opacity: 0;
    filter: blur(0px);
    transition-property: opacity, filter;
    transition-duration: 1.8s;
    filter: blur(20px);
    
}
div.cnt01 section article .bg.i1{background-image: url(../image/sub2_cnt01_i1_bg.jpg);}
div.cnt01 section article .bg.i2{background-image: url(../image/sub2_cnt01_i2_bg.jpg);}
div.cnt01 section article .bg.i3{background-image: url(../image/sub2_cnt01_i3_bg.jpg);}
div.cnt01 section article .bg.i4{background-image: url(../image/sub2_cnt01_i4_bg.jpg);}
div.cnt01 section article .bg.i5{background-image: url(../image/sub2_cnt01_i5_bg.jpg);}
div.cnt01 section article .bg.i6{background-image: url(../image/sub2_cnt01_i6_bg.jpg);}
div.cnt01 section article .bg.i7{background-image: url(../image/sub2_cnt01_i7_bg.jpg);}
div.cnt01 section article .bg.i8{background-image: url(../image/sub2_cnt01_i8_bg.jpg);}
div.cnt01 section article .bg.i9{background-image: url(../image/sub2_cnt01_i9_bg.jpg);}
div.cnt01 section article .texts{
    text-align: center;
    margin-top: 20px;
}
div.cnt01 section article .texts h4{
}
div.cnt01 section article .texts h5{}
div.cnt01 section article .texts h4{}
div.cnt01 section article .btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    opacity: 0;
    transition: opacity 0.2s;
    transition-delay: 0.2s;
}
div.cnt01 section article .btn button{
    height: 90px; width: 90px; border-radius: 50%;
    font-size: 40px; line-height: 90px;
    margin: 0 10px;
    background-color: rgba(255,204,153,0.8);
}


div.bnr01{
    background-image: url(../image/sub2_banner01.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    font-weight: bold;
}
div.bnr01 button{
    background-color: rgba(255,255,255,0.7);
    border-radius: 5px;
    font-weight: bold;
}

div.cntWrap .cnt02{
    width: 100%;
    max-width: none;
    overflow: hidden;
}
div.cnt02 section{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

div.cnt02 section article{
    width: calc(100% / 4 - 20px);
    min-width: 340px;
    height: 520px;
    background-color: #ccc;
    position: relative;
}
div.cnt02 section article .image{
    width: 100%;
    height: 100%;
    filter: blur(0);
    transition: filter 0.8s;
}
div.cnt02 section article a:hover~.image{
    filter: blur(10px);
}
div.cnt02 section article .image.i1{background-image: url(../image/sub2_cnt2_1.jpg);}
div.cnt02 section article .image.i2{background-image: url(../image/sub2_cnt2_2.jpg);}
div.cnt02 section article .image.i3{background-image: url(../image/sub2_cnt2_3.jpg);}
div.cnt02 section article .image.i4{background-image: url(../image/sub2_cnt2_4.jpg);}
div.cnt02 section article .texts{
    width: 70%;
    position: absolute;
    left: 40px;bottom: 80px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    transition: all 0.5s;
}
div.cnt02 section article a:hover~.texts{
    color: yellow;
    font-style: italic;
}
div.cnt02 section article .texts h4{
    line-height: 80px;
}
div.cnt02 section article .texts p{
    height: 80px;
    overflow: hidden;
}