div.slide{
    background-color: rgba(255,153,52,0.8);
}
div.slide ul{
    color: #fff;
}

div.cnt02 section{
    grid-row-gap: 20px;
}
div.cnt02 section article{
    width: calc(100% / 2);
}

div.cntWrap .cnt02 header p{
    display: none;
}

div.bg03{
    margin-top: 40px;
    padding-bottom: 40px;
}
div.bg03 .cnt03{}
div.bg03 .cnt03 section article{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}
div.bg03 .cnt03 section article .image{
    width: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
div.bg03 .cnt03 section article .texts{
    width: 50%;
    margin-left: -20%;
    position: static;
}