div.slide{
    background-color: rgba(255,255,255,0.8);
}
div.slide ul{
    color: #214386;
}

div.mnWrap main{
    margin-top: -160px;
    display: flex;
    align-content: center;
}
div.mnWrap main header{
    width: 50%;
}
div.mnWrap main header h1{
    left: calc((100vw - 1080px) / 2 + 360px);
}
div.mnWrap main section{
    width: 50%;
}
div.mnWrap main section .image{
    position: static;
    width: 100%;
    height: 420px;
}

@media(max-width:563px){
    div.hdrWrap header h1{
        opacity: 0;
    }
    div.mnWrap main section{
        width: 100%;
    }
    div.mnWrap main section .image{
    width: 100%;
    }
    div.mnWrap main header{
        display: none;
    }
    div.mnWrap main section .image h1{
        position: static;
        font-size: 60px;
        margin-left: 0;
        text-align: center;
    }
}